<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.shopping_project.mapper.DashboardMapper">
    <select id="getTotalMemberCnt" resultType="java.lang.Integer">
        select count(*) from member_info
    </select>
    <select id="getNormalMemberCnt" resultType="java.lang.Integer">
        select count(*) from member_info where mi_status=1
    </select>
    <select id="getVIPMemberCnt" resultType="java.lang.Integer">
        select count(*) from member_info where mi_status=2
    </select>
    <select id="getWaitMemberCnt" resultType="java.lang.Integer">
        select count(*) from member_info where mi_status=0
    </select>

    <select id="getTotalProductCnt" resultType="java.lang.Integer">
        select count(*) from product_info
    </select>
    <select id="getSaleProductCnt" resultType="java.lang.Integer">
        select count(*) from product_info where pi_status=1
    </select>
    <select id="getWaitProductCnt" resultType="java.lang.Integer">
        select count(*) from product_info where pi_status=0
    </select>

    <select id="getTotalReviewCnt" resultType="java.lang.Integer">
        select count(*) from review_info
    </select>
    <select id="getFiveReviewCnt" resultType="java.lang.Integer">
        select count(*) from review_info where ri_status=4
    </select>
    <select id="getFourReviewCnt" resultType="java.lang.Integer">
        select count(*) from review_info where ri_status=3
    </select>
    <select id="getThreeReviewCnt" resultType="java.lang.Integer">
        select count(*) from review_info where ri_status=2
    </select>
    <select id="getTwoReviewCnt" resultType="java.lang.Integer">
        select count(*) from review_info where ri_status=1
    </select>
    <select id="getOneReviewCnt" resultType="java.lang.Integer">
        select count(*) from review_info where ri_status=0
    </select>

    <select id="getTotalQuestionsCnt" resultType="java.lang.Integer">
        select count(*) from questions_info
    </select>
    <select id="getWaitQuestionsCnt" resultType="java.lang.Integer">
        select count(*) from questions_info where qi_status=0
    </select>
    <select id="getDoneQuestionsCnt" resultType="java.lang.Integer">
        select count(*) from questions_info where qi_status=1
    </select>
</mapper>